

body{
    color: #222;
    font-size: 14px;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}



/* Navbar */

.nav__list{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    padding: 15px;
    gap: 1em;
}
.nav {
    
    flex-grow: 1;

}

.nav__list a {
    color: black;
    text-decoration: none;

}
.nav__list a:hover,
.nav__list a:focus{
    
    text-decoration: underline;

}
.nav__list li:nth-of-type(3){
        margin-left: auto;
       
}

li {
    display: flex;
    align-items: center;
}

/* Logo & Search*/
div.container {   
    padding: 2rem;
    margin: 5vh auto 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

#--logo{
    margin-bottom: 5vh;
}

section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 600px;
    height: 40px;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
}

#search{
    flex-grow: 1;
    height: 33px;
    padding: 0 1px;
    border: none;
}

#mag-glass{
    width: 22px;
    padding-left: 3px;
}

#mic{
    width: 22px;
    padding-right: 3px;
}

header{
  
    display: flex;
}

.input-container {
    padding-top: 2rem;
    display: flex;
    justify-content: center;
    gap: 1.5rem;
}

#btnGS { 
    height: 30px;
    font-size: 14px;
    text-align: center;
    width: 125px;
    border: 1px solid #c6c6c6;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    color: #5F6368;
}

#btnIF {
    height: 30px;
    font-size: 14px;
    text-align: center;
    width: 125px;
    border: 1px solid #c6c6c6;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    color: #5F6368;
}

#btnGS:hover {
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    background-image: -webkit-linear-gradient(top,#f8f8f8,#f1f1f1);
    background-color: #f8f8f8;
    border: 1px solid #c6c6c6;
    color: #222;
}

#btnIF:hover {
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    background-image: -webkit-linear-gradient(top,#f8f8f8,#f1f1f1);
    background-color: #f8f8f8;
    border: 1px solid #c6c6c6;
    color: #222;
}


/* footer */
.footer {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    margin: 0;
    padding: 0;
    margin-top: auto;
    
}

ul.footer-right{
    display: flex;
    flex-direction: row;
    margin-right: auto;
    margin-top: auto;
}

ul.footer-left {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-top: auto;
    padding-right: 40px;
}


li{
    padding: 15px 15px;
    color: #70757a;
}

li:hover :active {
	text-decoration: underline;
}
